In [ ]:
# import necassary libriries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load dataset
df_listings = pd.read_csv('../data/listings_20210707.csv')

In [ ]:
# Drop column `country_title` because all accomadations are located in Germany
df_listings = df_listings.drop('country_title', axis=1)

In [ ]:
# Drop column `pets`. In my opinion, this column records the number of pets that are allowed, but only includes zeros and missing values. If pets are allowed or not (or on request) are covered in foolowing columns: `option_holiday_with_your_pet`, `option_holiday_with_your_horse`, `option_holiday_with_your_dog`. 
print(df_listings.pets.unique())
df_listings = df_listings.drop('pets', axis=1)

In [ ]:
# Convert column `contract_end` to datetime
df_listings['contract_end'] = pd.to_datetime(df_listings['contract_end'])

In [ ]:
# Replace range of `living_area` with the first number
df_listings.replace(['70-280', '50-100', '50-70', '24-49', '16 - 26', '70-280', '18 - 26', '88-100', '46-73', '50-80', '52-65', '50-60'], ['70', '50', '50', '24', '16', '70', '18', '88', '46', '50', '52', '50'], inplace=True)

In [ ]:
# Convert column `living_area`to integer
df_listings['living_area'] = df_listings['living_area'].astype(float)

In [ ]:
# Replace booleans and `yes` / `no` to integers 
df_listings.replace(['True', 'False', 'yes', 'no'], [1, 0, 1, 0], inplace=True)

In [ ]:
# Replace `not allowed`, `allowed`, `on request` and `unset` to integers
1, 2, 3, 4

In [ ]:
# Heatmap
corr = df_listings.corr()
ax = sns.heatmap(
    corr,
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
);

In [ ]:
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
listings.hist(bins=50, figsize = (20,15))
plt.show()

## Bathrooms

In [ ]:
df_listings.bathrooms.describe()

In [ ]:
df_listings.groupby('bathrooms')['listing_id'].count()

In [ ]:
df_listings.groupby('bathrooms').median()

In [ ]:
df_listings.query('bathrooms == 5')

In [ ]:
df_listings.query('bathrooms == 6')

In [ ]:
df_listings.query('bathrooms == 8')

In [ ]:
df_listings.query('bathrooms == 10')

In [ ]:
df_listings.query('bathrooms == 14')

## Bedrooms

In [ ]:
df_listings.bedrooms.describe()

In [ ]:
df_listings.groupby('bedrooms')['listing_id'].count()

In [ ]:
df_listings.groupby('bedrooms').median()

## Max guests

In [ ]:
df_listings.max_guests.describe()

In [ ]:
df_listings.groupby('max_guests')['listing_id'].count()

In [ ]:
df_listings.groupby('max_guests').mean()

In [ ]:
df_listings.query('max_guests == 70.0')

## Living area

In [ ]:
df_listings.living_area.describe()

## Regions

In [ ]:
print(df_listings.region.nunique())
print(df_listings.region.unique())

In [ ]:
print(df_listings.subregion.nunique())
print(df_listings.subregion.unique())

In [ ]:
print(df_listings.holiday_region.nunique())
print(df_listings.holiday_region.unique())

In [ ]:
print(df_listings.zip.nunique())

## Type accomodation

In [ ]:
print(df_listings.property_type.nunique())
print(df_listings.property_type.unique())