In [ ]:
# import necassary libriries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load dataset
listings = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/listings_20210707.csv')

In [ ]:
# Drop column `country_title` because all accomadations are located in Germany
listings = listings.drop('country_title', axis=1)

In [ ]:
# Drop column `pets`. In my opinion, this column records the number of pets that are allowed, but only includes zeros and missing values. If pets are allowed or not (or on request) are covered in foolowing columns: `option_holiday_with_your_pet`, `option_holiday_with_your_horse`, `option_holiday_with_your_dog`. 
print(listings.pets.unique())
listings = listings.drop('pets', axis=1)

In [ ]:
# Convert column `contract_end` to datetime
listings['contract_end'] = pd.to_datetime(listings['contract_end'])

In [ ]:
# Replace range of `living_area` with the first number
listings.replace(['70-280', '50-100', '50-70', '24-49', '16 - 26', '70-280', '18 - 26', '88-100', '46-73', '50-80', '52-65', '50-60'], ['70', '50', '50', '24', '16', '70', '18', '88', '46', '50', '52', '50'], inplace=True)

In [ ]:
# Convert column `living_area`to integer
listings['living_area'] = listings['living_area'].astype(float)

In [ ]:
# Replace booleans and `yes` / `no` to integers 
listings.replace(['True', 'False', 'yes', 'no'], [1, 0, 1, 0], inplace=True)

In [ ]:
# Replace `not allowed`, `allowed`, `on request` and `unset` to integers
1, 2, 3, 4

In [ ]:
# Heatmap
corr = listings.corr()
ax = sns.heatmap(
    corr,
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
);

In [ ]:
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
listings.hist(bins=50, figsize = (20,15))
plt.show()

## Bathrooms

In [ ]:
listings.bathrooms.describe()

In [ ]:
listings.groupby('bathrooms')['listing_id'].count()

In [ ]:
listings.groupby('bathrooms').median()

In [ ]:
listings.query('bathrooms == 5')

In [ ]:
listings.query('bathrooms == 6')

In [ ]:
listings.query('bathrooms == 8')

In [ ]:
listings.query('bathrooms == 10')

In [ ]:
listings.query('bathrooms == 14')

## Bedrooms

In [ ]:
listings.bedrooms.describe()

In [ ]:
listings.groupby('bedrooms')['listing_id'].count()

In [ ]:
listings.groupby('bedrooms').median()

## Max guests

In [ ]:
listings.max_guests.describe()

In [ ]:
listings.groupby('max_guests')['listing_id'].count()

In [ ]:
listings.groupby('max_guests').mean()

In [ ]:
listings.query('max_guests == 70.0')

In [ ]:
listings.columns

## Living area

In [ ]:
listings.living_area.describe()

## Regions

In [ ]:
print(listings.region.nunique())
print(listings.region.unique())

In [ ]:
print(listings.subregion.nunique())
print(listings.subregion.unique())

In [ ]:
print(listings.holiday_region.nunique())
print(listings.holiday_region.unique())

In [ ]:
print(listings.zip.nunique())

## Type accomodation

In [ ]:
print(listings.property_type.nunique())
print(listings.property_type.unique())