# Overview datasets

In [33]:
# Import necassary libraries
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [36]:
# Load datasets
inquiries = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/inquiries_20210707.csv')
pictures = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/listing_pictures_0210707.csv')
listings = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/listings_20210707.csv')
prices = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/prices_20210707.csv')
rating = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/rating_20210707.csv')
room_features = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/rooms_features_20210707.csv')
statistics = pd.read_csv('/Users/franziskadettmann/neue-fische-traum/datasets/statistics_20210707.csv')

/Users/franziskadettmann/neue-fische-traum/traum-preis/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
def overview(dataset):
    print('Shape of dataset:')
    print(dataset.shape)
    print('Columns:')
    print(dataset.columns)
    print('First two lines:')
    print(dataset.head(2))
    print('Info:')
    print(dataset.info())
    print('Missing values:')
    print(dataset.isna().sum())
    print('Numbers of unique features:')
    print(dataset.nunique())
    return

In [30]:
overview(inquiries)

Shape of dataset:
(4018005, 10)
Columns:
Index(['listing_id', 'title', 'date', 'time', 'adult_count', 'children_count',
       'pets_count', 'arrival_date', 'departure_date', 'inquiry_price'],
      dtype='object')
First two lines:
                             listing_id    title        date      time  \
0  c47741c3-2327-596e-89bc-5fcec81c9ee7  Anfrage  2019-01-01  00:04:56
1  07ab2635-ca78-516a-bbfb-5d1dbf8b9a5a  Anfrage  2019-01-01  00:05:36

   adult_count  children_count  pets_count arrival_date departure_date  \
0          2.0             0.0         0.0   2019-06-30     2019-07-13
1          6.0             2.0         0.0   2019-07-24     2019-07-31

   inquiry_price
0            0.0
1         1840.0
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018005 entries, 0 to 4018004
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      object
 1   title           object
 2   date            object
 3   time            object
 4   adult_count     float64
 5   children_count  float64
 6   pets_count      float64
 7   arrival_date    object
 8   departure_date  object
 9   inquiry_price   float64
dtypes: float64(4), object(6)
memory usage: 306.5+ MB
None
Missing values:
listing_id             0
title                  0
date                   0
time                   0
adult_count         5734
children_count      5734
pets_count          5734
arrival_date           0
departure_date         0
inquiry_price     593997
dtype: int64
Numbers of unique features:
listing_id        110746
title                  4
date                 731
time               82630
adult_count           52
children_count        33
pets_count            14
arrival_date        1344
departure_date      1352
inquiry_price      89049
dtype: int64

In [24]:
overview(pictures)

Shape of dataset:
(644821, 9)
Columns:
Index(['listing_id', 'added', 'activated', 'height', 'width', 'format',
       'description', 'start_pic_summer', 'start_pic_winter'],
      dtype='object')
First two lines:
                             listing_id                added  \
0  fbd74bce-23dd-53e7-b988-8beb85160d6f  2009-12-03 00:00:00
1  4e012316-0f53-5fc6-a17f-580ff832554e  2010-01-05 00:00:00

             activated  height  width format description  start_pic_summer  \
0  2010-12-16 00:00:00     757   1000    PNG  Furnishing                 0
1  2010-12-16 00:00:00     248    300    PNG  Floor plan                 0

   start_pic_winter
0                 0
1                 0
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644821 entries, 0 to 644820
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   listing_id        644821 non-null  object
 1   added             644821 non-null  object
 2   activated         644821 non-null  object
 3   height            644821 non-null  int64
 4   width             644821 non-null  int64
 5   format            644821 non-null  object
 6   description       644821 non-null  object
 7   start_pic_summer  644821 non-null  int64
 8   start_pic_winter  644821 non-null  int64
dtypes: int64(4), object(5)
memory usage: 44.3+ MB
None
Missing values:
listing_id          0
added               0
activated           0
height              0
width               0
format              0
description         0
start_pic_summer    0
start_pic_winter    0
dtype: int64
Numbers of unique features:
listing_id           30222
added               566475
activated           560004
height                5813
width                 7405
format                   7
description              7
start_pic_summer         2
start_pic_winter         2
dtype: int64

In [25]:
overview(listings)

Shape of dataset:
(30269, 49)
Columns:
Index(['listing_id', 'customer_id', 'state', 'contract_end', 'zip',
       'country_title', 'region', 'subregion', 'holiday_region',
       'property_type', 'subscription', 'binding_inquiry', 'option_allergic',
       'option_non_smoking_only', 'option_holiday_with_your_pet',
       'option_holiday_with_your_horse', 'option_holiday_with_your_dog',
       'option_close_to_the_beach', 'option_railway_station', 'option_airport',
       'option_wheelchair_accessible', 'option_family_travel',
       'option_close_to_the_water', 'option_holiday_with_your_baby',
       'option_long_term_holiday', 'option_fully_accessible',
       'option_technicians', 'option_close_to_the_ski_lift', 'smoking',
       'wheelchairaccess', 'babybed', 'wifi', 'internet', 'dishwasher',
       'washingmachine', 'dryer', 'airconditioner', 'tv', 'pool', 'sauna',
       'grill', 'garden', 'terrace', 'balcony', 'bathrooms', 'bedrooms',
       'max_guests', 'pets', 'living_area'],
      dtype='object')
First two lines:
                             listing_id                           customer_id  \
0  97232bc1-cee6-54cc-9965-be13177051d3  6e5e6ab0-34d3-5662-9259-7ae7eb021acb
1  b2e43b01-0a74-5270-95db-e4f649982e72  6e5e6ab0-34d3-5662-9259-7ae7eb021acb

    state contract_end    zip country_title  region  \
0  Online   2022-05-01  182--   Deutschland  Ostsee
1  Online   2022-05-01  875--   Deutschland  Allg채u

                      subregion holiday_region      property_type  ... sauna  \
0  Mecklenburgische Ostseek체ste         Ostsee  holiday_apartment  ...   yes
1                    Oberallg채u     Oberallg채u  holiday_apartment  ...   yes

  grill garden terrace balcony bathrooms bedrooms max_guests pets living_area
0   yes    yes      no     yes       1.0      2.0        4.0  0.0          60
1   yes    yes      no     yes       1.0      1.0        4.0  0.0          50

[2 rows x 49 columns]
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30269 entries, 0 to 30268
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   listing_id                      30269 non-null  object
 1   customer_id                     30269 non-null  object
 2   state                           30269 non-null  object
 3   contract_end                    30269 non-null  object
 4   zip                             30269 non-null  object
 5   country_title                   30269 non-null  object
 6   region                          30269 non-null  object
 7   subregion                       30268 non-null  object
 8   holiday_region                  30269 non-null  object
 9   property_type                   30269 non-null  object
 10  subscription                    30269 non-null  object
 11  binding_inquiry                 30269 non-null  object
 12  option_allergic                 30269 non-null  object
 13  option_non_smoking_only         30269 non-null  object
 14  option_holiday_with_your_pet    30269 non-null  object
 15  option_holiday_with_your_horse  30269 non-null  object
 16  option_holiday_with_your_dog    30269 non-null  object
 17  option_close_to_the_beach       30269 non-null  object
 18  option_railway_station          30269 non-null  object
 19  option_airport                  30269 non-null  object
 20  option_wheelchair_accessible    30269 non-null  object
 21  option_family_travel            30269 non-null  object
 22  option_close_to_the_water       30269 non-null  object
 23  option_holiday_with_your_baby   30269 non-null  object
 24  option_long_term_holiday        30269 non-null  object
 25  option_fully_accessible         30269 non-null  object
 26  option_technicians              30269 non-null  object
 27  option_close_to_the_ski_lift    30269 non-null  object
 28  smoking                         30269 non-null  object
 29  wheelchairaccess                30269 non-null  object
 30  babybed                         30269 non-null  object
 31  wifi                            30269 non-null  object
 32  internet                        30269 non-null  object
 33  dishwasher                      30269 non-null  object
 34  washingmachine                  30269 non-null  object
 35  dryer                           30269 non-null  object
 36  airconditioner                  30269 non-null  object
 37  tv                              30269 non-null  object
 38  pool                            30269 non-null  object
 39  sauna                           30269 non-null  object
 40  grill                           30269 non-null  object
 41  garden                          30269 non-null  object
 42  terrace                         30269 non-null  object
 43  balcony                         30269 non-null  object
 44  bathrooms                       29839 non-null  float64
 45  bedrooms                        29839 non-null  float64
 46  max_guests                      29839 non-null  float64
 47  pets                            29839 non-null  float64
 48  living_area                     29837 non-null  object
dtypes: float64(4), object(45)
memory usage: 11.3+ MB
None
Missing values:
listing_id                          0
customer_id                         0
state                               0
contract_end                        0
zip                                 0
country_title                       0
region                              0
subregion                           1
holiday_region                      0
property_type                       0
subscription                        0
binding_inquiry                     0
option_allergic                     0
option_non_smoking_only             0
option_holiday_with_your_pet        0
option_holiday_with_your_horse      0
option_holiday_with_your_dog        0
option_close_to_the_beach           0
option_railway_station              0
option_airport                      0
option_wheelchair_accessible        0
option_family_travel                0
option_close_to_the_water           0
option_holiday_with_your_baby       0
option_long_term_holiday            0
option_fully_accessible             0
option_technicians                  0
option_close_to_the_ski_lift        0
smoking                             0
wheelchairaccess                    0
babybed                             0
wifi                                0
internet                            0
dishwasher                          0
washingmachine                      0
dryer                               0
airconditioner                      0
tv                                  0
pool                                0
sauna                               0
grill                               0
garden                              0
terrace                             0
balcony                             0
bathrooms                         430
bedrooms                          430
max_guests                        430
pets                              430
living_area                       432
dtype: int64
Numbers of unique features:
listing_id                        30269
customer_id                       19835
state                                 3
contract_end                         78
zip                                 302
country_title                         1
region                               29
subregion                           196
holiday_region                       29
property_type                        25
subscription                          2
binding_inquiry                       2
option_allergic                       4
option_non_smoking_only               4
option_holiday_with_your_pet          4
option_holiday_with_your_horse        4
option_holiday_with_your_dog          4
option_close_to_the_beach             3
option_railway_station                2
option_airport                        2
option_wheelchair_accessible          3
option_family_travel                  4
option_close_to_the_water             3
option_holiday_with_your_baby         4
option_long_term_holiday              4
option_fully_accessible               3
option_technicians                    4
option_close_to_the_ski_lift          3
smoking                               3
wheelchairaccess                      3
babybed                               2
wifi                                  2
internet                              2
dishwasher                            2
washingmachine                        2
dryer                                 2
airconditioner                        2
tv                                    2
pool                                  2
sauna                                 2
grill                                 2
garden                                2
terrace                               2
balcony                               2
bathrooms                            10
bedrooms                             14
max_guests                           42
pets                                  1
living_area                         290
dtype: int64

In [37]:
listings.country_title.unique()

array(['Deutschland'], dtype=object)

In [26]:
overview(prices)

Shape of dataset:
(2404475, 6)
Columns:
Index(['listing_id', 'min_days', 'date_from', 'date_to', 'price_per_day_from',
       'price_per_week_from'],
      dtype='object')
First two lines:
                             listing_id  min_days   date_from     date_to  \
0  fbd74bce-23dd-53e7-b988-8beb85160d6f       5.0  2020-04-01  2020-06-15
1  fbd74bce-23dd-53e7-b988-8beb85160d6f       5.0  2020-06-15  2020-07-05

   price_per_day_from  price_per_week_from
0                70.0                  NaN
1                78.0                  NaN
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404475 entries, 0 to 2404474
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   listing_id           object
 1   min_days             float64
 2   date_from            object
 3   date_to              object
 4   price_per_day_from   float64
 5   price_per_week_from  float64
dtypes: float64(3), object(3)
memory usage: 110.1+ MB
None
Missing values:
listing_id                   0
min_days                 11113
date_from                    0
date_to                      0
price_per_day_from      339992
price_per_week_from    1428670
dtype: int64
Numbers of unique features:
listing_id             124786
min_days                   17
date_from                5146
date_to                  5112
price_per_day_from      11874
price_per_week_from      8520
dtype: int64

In [27]:
overview(rating)

Shape of dataset:
(353506, 8)
Columns:
Index(['rating_date', 'listing_id', 'features', 'price', 'service', 'ambience',
       'date_from', 'date_to'],
      dtype='object')
First two lines:
  rating_date                            listing_id  features  price  service  \
0  2012-09-16  fbd74bce-23dd-53e7-b988-8beb85160d6f         5      5        5
1  2012-10-20  fbd74bce-23dd-53e7-b988-8beb85160d6f         4      5        5

   ambience   date_from     date_to
0         5  2012-09-09  2012-09-15
1         5  2012-10-06  2012-10-13
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353506 entries, 0 to 353505
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   rating_date  353506 non-null  object
 1   listing_id   353506 non-null  object
 2   features     353506 non-null  int64
 3   price        353506 non-null  int64
 4   service      353506 non-null  int64
 5   ambience     353506 non-null  int64
 6   date_from    348473 non-null  object
 7   date_to      348473 non-null  object
dtypes: int64(4), object(4)
memory usage: 21.6+ MB
None
Missing values:
rating_date       0
listing_id        0
features          0
price             0
service           0
ambience          0
date_from      5033
date_to        5033
dtype: int64
Numbers of unique features:
rating_date     5279
listing_id     50320
features           5
price              5
service            5
ambience           5
date_from       4239
date_to         4208
dtype: int64

In [28]:
overview(room_features)

Shape of dataset:
(5192731, 4)
Columns:
Index(['listing_id', 'description', 'area', 'description.1'], dtype='object')
First two lines:
                             listing_id description area     description.1
0  fbd74bce-23dd-53e7-b988-8beb85160d6f     balcony  NaN  garden furniture
1  fbd74bce-23dd-53e7-b988-8beb85160d6f    bathroom  NaN            mirror
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5192731 entries, 0 to 5192730
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   listing_id     object
 1   description    object
 2   area           object
 3   description.1  object
dtypes: object(4)
memory usage: 158.5+ MB
None
Missing values:
listing_id             0
description            0
area             4007170
description.1     106834
dtype: int64
Numbers of unique features:
listing_id       147087
description          29
area                781
description.1       157
dtype: int64

In [29]:
overview(statistics)

Shape of dataset:
(674604, 11)
Columns:
Index(['yearmonth', 'listing_id', 'inquiry_count', 'inquiry_volume',
       'binding_inquiry_count', 'binding_inquiry_volume',
       'direct_booking_count', 'direct_booking_volume', 'result_views',
       'expose_views', 'phone_clicks'],
      dtype='object')
First two lines:
  yearmonth                            listing_id  inquiry_count  \
0   2019/07  f1133916-825e-5e2a-93be-eaba28a966e8              2
1   2019/07  836959d3-611c-5edb-887c-273aba5bd102              0

   inquiry_volume  binding_inquiry_count  binding_inquiry_volume  \
0            1352                      0                       0
1               0                      0                       0

   direct_booking_count  direct_booking_volume  result_views  expose_views  \
0                     0                      0          1109            85
1                     0                      0           871            23

   phone_clicks
0             1
1             2
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674604 entries, 0 to 674603
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   yearmonth               674604 non-null  object
 1   listing_id              674604 non-null  object
 2   inquiry_count           674604 non-null  int64
 3   inquiry_volume          674604 non-null  int64
 4   binding_inquiry_count   674604 non-null  int64
 5   binding_inquiry_volume  674604 non-null  int64
 6   direct_booking_count    674604 non-null  int64
 7   direct_booking_volume   674604 non-null  int64
 8   result_views            674604 non-null  int64
 9   expose_views            674604 non-null  int64
 10  phone_clicks            674604 non-null  int64
dtypes: int64(9), object(2)
memory usage: 56.6+ MB
None
Missing values:
yearmonth                 0
listing_id                0
inquiry_count             0
inquiry_volume            0
binding_inquiry_count     0
binding_inquiry_volume    0
direct_booking_count      0
direct_booking_volume     0
result_views              0
expose_views              0
phone_clicks              0
dtype: int64
Numbers of unique features:
yearmonth                    24
listing_id                30269
inquiry_count               277
inquiry_volume            16273
binding_inquiry_count        13
binding_inquiry_volume     2733
direct_booking_count          5
direct_booking_volume        91
result_views               9259
expose_views               2346
phone_clicks                 95
dtype: int64