In [1]:
import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import warnings
import mlflow
from modeling.config import EXPERIMENT_NAME
TRACKING_URI = open("../.mlflow_uri").read().strip()

ROOT = os.environ.get('PWD')

warnings.filterwarnings('ignore')

# our data, read into dataframe df_master_tfw
df_master_tfw = pd.read_csv('../data/master_no_missing_20210719.csv')

In [2]:
df_master_tfw.head()

,Unnamed: 0,listing_id,1_room_apartment,library,children`s_room,corridor,dining_room,en_suite_bathroom,gallery,heating_room,...,pool,sauna,grill,garden,terrace,balcony,bathrooms,bedrooms,max_guests,living_area
0,0,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,1.0,2.0,4.0,60.0
1,1,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,1.0,2.0,4.0,60.0
2,2,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,1.0,2.0,4.0,60.0
3,3,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,1.0,2.0,4.0,60.0
4,4,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,1.0,2.0,4.0,60.0

# Data cleaning and feature engineering

In [3]:
del df_master_tfw['Unnamed: 0']

In [4]:
list(df_master_tfw.columns.values)

['listing_id',
 '1_room_apartment',
 'library',
 'children`s_room',
 'corridor',
 'dining_room',
 'en_suite_bathroom',
 'gallery',
 'heating_room',
 'kitchen',
 'kitchen_living',
 'living_bedroom',
 'living_/_dining_room',
 'living_room',
 'lounge',
 'roof-deck',
 'separate_WC',
 'storage_room',
 'veranda',
 'washroom',
 'wellness',
 'winter_garden',
 'Blu-ray_player',
 'CDs_DVDs',
 'DVD-player',
 'VCR',
 'additional_bed',
 'alarm_system',
 'armchair',
 'awning_',
 'baby_monitor',
 'bath_towels',
 'bathrobe',
 'bathtub',
 'beach_chair',
 'bed_linen',
 'bicycles',
 'bidet',
 'boat',
 'boat_dock',
 'books',
 'bottle_warmer',
 'bread_service',
 'bunk_bed',
 'carport',
 'central_heating',
 'changing_mat',
 'chest_of_drawers',
 "child's_bed",
 'children_toilet_seat',
 'cleaning_supplies',
 'coffee_machine',
 'colouring_book_pencils',
 'computer',
 'crockery',
 'darts',
 'desk',
 'dining_table',
 'double_bed',
 'double_wash_basin',
 'drying_rack',
 'egg_cooker',
 'exercise_room',
 'fan',
 'fax',
 'fire_alarm',
 'fireplace',
 'first-aid_kit',
 'flat_iron',
 'fly_screen',
 'folding_bed',
 'food_processor',
 'freezer',
 'game_console',
 'games',
 'garage',
 'garden_furniture',
 'garden_shed',
 'guest_toilet',
 'hair_dryer',
 'high_chair',
 'hot_tub',
 'hot_water',
 'infrared_cabin',
 'ironing_board',
 'kettle',
 'kingsize_bed',
 'laundry_service',
 'lawn',
 'loft_bed',
 'make-up_mirror',
 'microwave',
 'mirror',
 'mixer',
 'outdoor_shower',
 'phone',
 'piano',
 'pier',
 'playground',
 'pond',
 'pool_table',
 'private_parking',
 'radio',
 'refrigerator',
 'relaxation_room',
 'room_service',
 'safe',
 'sandpit',
 'sandwich_toaster',
 'shared_swimming_pool',
 'shoe_cabinet',
 'shower',
 'single_bed',
 'ski_boot_heaters',
 'slide',
 'socket_covers',
 'sofa',
 'sofa_bed',
 'spices',
 'stair_gate',
 'steam_bath',
 'stereo_system',
 'sun_loungers',
 'sun_umbrella_',
 'sunshade',
 'swimming_pool',
 'swing',
 'table_football',
 'table_tennis',
 'tanning_bed',
 'tea_towels',
 'toaster',
 'toilet',
 'towels',
 'toys',
 'trampoline',
 'underfloor_heating',
 'vacuum_cleaner',
 'walk-in_shower',
 'wall_bed',
 'wardrobe',
 'wash_basin',
 'water_bed',
 'windbreak',
 'cooking',
 'title',
 'date',
 'adult_count',
 'children_count',
 'pets_count',
 'arrival_date',
 'departure_date',
 'inquiry_price',
 'length_stay',
 'contract_end',
 'zip',
 'region',
 'subregion',
 'holiday_region',
 'property_type',
 'binding_inquiry',
 'option_allergic',
 'option_non_smoking_only',
 'option_holiday_with_your_pet',
 'option_holiday_with_your_horse',
 'option_holiday_with_your_dog',
 'option_close_to_the_beach',
 'option_wheelchair_accessible',
 'option_family_travel',
 'option_close_to_the_water',
 'option_holiday_with_your_baby',
 'option_long_term_holiday',
 'option_fully_accessible',
 'option_technicians',
 'option_close_to_the_ski_lift',
 'babybed',
 'internet',
 'dishwasher',
 'washingmachine',
 'dryer',
 'tv',
 'pool',
 'sauna',
 'grill',
 'garden',
 'terrace',
 'balcony',
 'bathrooms',
 'bedrooms',
 'max_guests',
 'living_area']

In [5]:
# set display default so that we can see all the columns we have in play

pd.set_option('display.max_rows', None)

In [6]:
# convert to datetime, this list can be varied depending on what stays in for a particular model

dates = ['arrival_date', 'departure_date', 'date']

for i in dates:
    df_master_tfw[i] = pd.to_datetime(df_master_tfw[i])

In [7]:


df_master_tfw.dtypes

listing_id                                object
1_room_apartment                         float64
library                                  float64
children`s_room                          float64
corridor                                 float64
dining_room                              float64
en_suite_bathroom                        float64
gallery                                  float64
heating_room                             float64
kitchen                                  float64
kitchen_living                           float64
living_bedroom                           float64
living_/_dining_room                     float64
living_room                              float64
lounge                                   float64
roof-deck                                float64
separate_WC                              float64
storage_room                             float64
veranda                                  float64
washroom                                 float64
wellness                                 float64
winter_garden                            float64
Blu-ray_player                           float64
CDs_DVDs                                 float64
DVD-player                               float64
VCR                                      float64
additional_bed                           float64
alarm_system                             float64
armchair                                 float64
awning_                                  float64
baby_monitor                             float64
bath_towels                              float64
bathrobe                                 float64
bathtub                                  float64
beach_chair                              float64
bed_linen                                float64
bicycles                                 float64
bidet                                    float64
boat                                     float64
boat_dock                                float64
books                                    float64
bottle_warmer                            float64
bread_service                            float64
bunk_bed                                 float64
carport                                  float64
central_heating                          float64
changing_mat                             float64
chest_of_drawers                         float64
child's_bed                              float64
children_toilet_seat                     float64
cleaning_supplies                        float64
coffee_machine                           float64
colouring_book_pencils                   float64
computer                                 float64
crockery                                 float64
darts                                    float64
desk                                     float64
dining_table                             float64
double_bed                               float64
double_wash_basin                        float64
drying_rack                              float64
egg_cooker                               float64
exercise_room                            float64
fan                                      float64
fax                                      float64
fire_alarm                               float64
fireplace                                float64
first-aid_kit                            float64
flat_iron                                float64
fly_screen                               float64
folding_bed                              float64
food_processor                           float64
freezer                                  float64
game_console                             float64
games                                    float64
garage                                   float64
garden_furniture                         float64
garden_shed                              float64
guest_toilet                             float64
hair_dryer                               float64
high_chair                               float64
hot_tub                                  float64
hot_water                                float64
infrared_cabin                           float64
ironing_board                            float64
kettle                                   float64
kingsize_bed                             float64
laundry_service                          float64
lawn                                     float64
loft_bed                                 float64
make-up_mirror                           float64
microwave                                float64
mirror                                   float64
mixer                                    float64
outdoor_shower                           float64
phone                                    float64
piano                                    float64
pier                                     float64
playground                               float64
pond                                     float64
pool_table                               float64
private_parking                          float64
radio                                    float64
refrigerator                             float64
relaxation_room                          float64
room_service                             float64
safe                                     float64
sandpit                                  float64
sandwich_toaster                         float64
shared_swimming_pool                     float64
shoe_cabinet                             float64
shower                                   float64
single_bed                               float64
ski_boot_heaters                         float64
slide                                    float64
socket_covers                            float64
sofa                                     float64
sofa_bed                                 float64
spices                                   float64
stair_gate                               float64
steam_bath                               float64
stereo_system                            float64
sun_loungers                             float64
sun_umbrella_                            float64
sunshade                                 float64
swimming_pool                            float64
swing                                    float64
table_football                           float64
table_tennis                             float64
tanning_bed                              float64
tea_towels                               float64
toaster                                  float64
toilet                                   float64
towels                                   float64
toys                                     float64
trampoline                               float64
underfloor_heating                       float64
vacuum_cleaner                           float64
walk-in_shower                           float64
wall_bed                                 float64
wardrobe                                 float64
wash_basin                               float64
water_bed                                float64
windbreak                                float64
cooking                                  float64
title                                     object
date                              datetime64[ns]
adult_count                              float64
children_count                           float64
pets_count                               float64
arrival_date                      datetime64[ns]
departure_date                    datetime64[ns]
inquiry_price                            float64
length_stay                              float64
contract_end                              object
zip                                        int64
region                                    object
subregion                                 object
holiday_region                            object
property_type                             object
binding_inquiry                           object
option_allergic                            int64
option_non_smoking_only                    int64
option_holiday_with_your_pet               int64
option_holiday_with_your_horse             int64
option_holiday_with_your_dog               int64
option_close_to_the_beach                  int64
option_wheelchair_accessible               int64
option_family_travel                       int64
option_close_to_the_water                  int64
option_holiday_with_your_baby              int64
option_long_term_holiday                   int64
option_fully_accessible                    int64
option_technicians                         int64
option_close_to_the_ski_lift               int64
babybed                                    int64
internet                                   int64
dishwasher                                 int64
washingmachine                             int64
dryer                                      int64
tv                                         int64
pool                                       int64
sauna                                      int64
grill                                      int64
garden                                     int64
terrace                                    int64
balcony                                    int64
bathrooms                                float64
bedrooms                                 float64
max_guests                               float64
living_area                              float64
dtype: object

In [21]:
# calculate overall number of inquiries per property

df_master_tfw['total_inquiries_per_property'] = df_master_tfw.groupby('listing_id')['title'].count().reset_index()['title']

In [22]:
df_master_tfw.head(10)

,listing_id,1_room_apartment,library,children`s_room,corridor,dining_room,en_suite_bathroom,gallery,heating_room,kitchen,...,grill,garden,terrace,balcony,bathrooms,bedrooms,max_guests,living_area,total_id_per_property,total_inquiries_per_property
0,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,23.0
1,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,310.0
2,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,24.0
3,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,8.0
4,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,7.0
5,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,24.0
6,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,25.0
7,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,35.0
8,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,58.0
9,97232bc1-cee6-54cc-9965-be13177051d3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,1,1.0,2.0,4.0,60.0,NaN,8.0

In [23]:
df_master_tfw['total_inquiries_per_property'].mean()

nan

In [17]:
df_master_tfw['total_id_per_property'].unique()

array([ 212,  172,  252,  318,   22,    1,    2,    4,    3,   13,    8,
          6,    5,   10,    7,    9,   11,   12,   24,   14,   28,   16,
         20,   17,   15,   30,   38,   43,   37,   47,   25,   44,   23,
         21,   19,   33,   45,   40,   39,   27,   34,   26,   50,   49,
         59,   31,   84,   53,   64,   18,   52,   29,   35,   58,   42,
         75,   57,   36,   99,  535,   70,   32,   71,  128,   51,   66,
         72,  117,  131,   41,  134,  190,   76,   60,  144,  191,  468,
        240,   65,  120,  102,   55,   81,  106,   61,   54,  104,   90,
         85,  130,   48,   86,   87,  100,  124,   79,   78,   73,   77,
         67,   74,   63,  139,  103,  151,  179,  105,  145,   68, 1055,
         56, 1110,   62,  169,   82,   91,   83,   80,   46,  101,  133,
        153,   92,   95,  113,  201,  158,  132,  164,  141,  107,  110,
        140,  215,   97,  109,  242,   88,  165,  426,  250,  184,   69,
        163,  114,  154,  377,  119,   98,  116, 1235,  402,  176,  576,
        366,  374,  319,  149,  135,  262,  532,  182,  450,  462,   96,
        336,  362,  123,  136,  194,  193,  365,  351,  121, 1438,  313,
        339,   93,  448,  213,  222,  112,  138,  217,  115,  229,  125,
        243,  205,  486,  248,  226,  192,   94,  214, 1907,  122,  749,
        302,  108,  185,  255,   89,  649,  143,  177,  380,  111,  209,
        168,  475,  152,  472,  286,  461,  941,  180,  202,  199,  295,
        129,  211, 1210,  127,  600,  254,  137,  367,  157,  142,  918,
        298,  186,  206,  303,  208,  305,  503,  478,  228,  257,  389,
        150,  395,  372,  224,  253,  279,  268,  447,  148,  167,  171,
        345,  118,  559,  203,  456,  235,  282,  398,  290,  219,  563,
        476,  332,  549, 1567,  921,  200,  264,  357,  246,  234,  358,
        146,  175,  333,  638,  809,  895,  730,  310,  329,  337,  278,
        156,  181,  237,  236,  291, 1286,  147,  334,  847,  197,  519,
        418,  384,  261,  189,  251,  220,  218,  260,  259,  210,  407,
        160,  276,  564,  297,  241,  403,  126, 1348,  267,  207,  347,
        623,  161,  263,  198,  187,  335,  233,  578,  602,  271,  436,
        555,  359,  510,  283,  221,  463,  178,  188, 1836,  388,  227,
        166,  325,  611,  412,  323,  912,  170, 1151,  173,  230,  442,
        159,  717,  585,  370,  531,  423,  247, 1394,  440,  499,  258,
        328,  513,  155,  346,  348,  390,  231, 1048,  174,  854,  789,
        614,  829,  405,  570,  299,  245,  554,  270,  265,  484,  938,
        306,  794,  433,  417,  411,  308,  331,  204,  225,  281,  324,
        506,  409,  330,  162,  619,  400,  316,  495,  317,  183, 2117,
        491,  682,  344,  322,  641,  239,  444,  906,  314,  349,  361,
        296,  311,  548,  375,  378,  458,  304,  541,  275,  488,  300,
        524,  533,  692,  401,  944,  469,  266,  292,  579,  368,  356,
        274,  737,  518,  470,  955,  950, 1147,  419,  232,  385,  360,
        273,  662,  269,  415,  280,  783,  223,  285,  196,  645,  504,
        637,  383,  386,  340,  277,  746,  284,  969,  410,  572,  320,
        381,  557,  414,  489,  863,  309,  289,  393, 1073,  810,  668,
        301,  288,  272,  195,  502,  613,  916,  650,  471,  371,  795,
        483])

## Splitting data for testing

In [18]:
smaller 
X = df_master_tfw.drop('listing_id','inquiry_count', axis=1)
Y = df_master_tfw['total_id_per_property']

TypeError: drop() got multiple values for argument 'axis'

In [10]:
from sklearn.model_selection import train_test_split



X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [11]:
#dropping Quakers column and unnamed
#changing one of the altitude to log and droping the original
X_train["altitude_mean_log"] = np.log(X_train["altitude_mean_meters"])
X_train.drop(['altitude_mean_meters'], axis=1, inplace=True)
X_train.drop(['Quakers'], axis=1, inplace=True)
X_train.drop(['Unnamed: 0'], axis=1, inplace=True)

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 17 to 6
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Number.of.Bags        22 non-null     int64
 1   Harvest.Year          22 non-null     int64
 2   Fragrance...Aroma     22 non-null     float64
 3   Flavor                22 non-null     float64
 4   Aftertaste            22 non-null     float64
 5   Salt...Acid           22 non-null     float64
 6   Bitter...Sweet        22 non-null     float64
 7   Mouthfeel             22 non-null     float64
 8   Uniform.Cup           22 non-null     float64
 9   Clean.Cup             22 non-null     float64
 10  Balance               22 non-null     float64
 11  Cupper.Points         22 non-null     float64
 12  Total.Cup.Points      22 non-null     float64
 13  Moisture              22 non-null     float64
 14  Category.One.Defects  22 non-null     int64
 15  Category.Two.Defects  22 non-null     int64
 16  altitude_low_meters   19 non-null     float64
 17  altitude_high_meters  19 non-null     float64
 18  altitude_mean_log     19 non-null     float64
dtypes: float64(15), int64(4)
memory usage: 3.4 KB

In [14]:
# fillna with mean.. 
X_train["altitude_low_meters"] = X_train["altitude_low_meters"].fillna(altitude_low_meters_mean)
X_train["altitude_high_meters"] = X_train["altitude_high_meters"].fillna(altitude_high_meters_mean)
X_train["altitude_mean_log"] = X_train["altitude_mean_log"].fillna(altitude_mean_log_mean)

In [15]:
print(f"altitude low meters mean is {altitude_low_meters_mean}")
print(f"altitude_high_meters_mean is {altitude_high_meters_mean}")
print(f"altitude_mean_log_mean is {altitude_mean_log_mean}")

altitude low meters mean is 1500.3684210526317
altitude_high_meters_mean is 1505.6315789473683
altitude_mean_log_mean is 7.0571530664031155

## Trainining the model and tracking with MLFlow

In [16]:
# setting the MLFlow connection and experiment
mlflow.set_tracking_uri(TRACKING_URI)
mlflow.set_experiment(EXPERIMENT_NAME)
mlflow.start_run()
run = mlflow.active_run()

In [17]:
print("Active run_id: {}".format(run.info.run_id))

Active run_id: db36ca6e38d84e31ac34a75bfa9b9838

In [22]:
#training the model
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [23]:
from sklearn.metrics import mean_squared_error
y_train_pred = reg.predict(X_train)
mse_train = mean_squared_error(y_train, y_train_pred)
print(mse_train)

6.701014816713759e-28

In [24]:
#dropping Quakers column and unnamed
#changing one of the altitude to log and droping the original
X_test["altitude_mean_log"] = np.log(X_test["altitude_mean_meters"])
X_test.drop(['altitude_mean_meters'], axis=1, inplace=True)
X_test.drop(['Quakers'], axis=1, inplace=True)
X_test.drop(['Unnamed: 0'], axis=1, inplace=True)
# fillna with mean.. 
X_test["altitude_low_meters"] = X_test["altitude_low_meters"].fillna(altitude_low_meters_mean)
X_test["altitude_high_meters"] = X_test["altitude_high_meters"].fillna(altitude_high_meters_mean)
X_test["altitude_mean_log"] = X_test["altitude_mean_log"].fillna(altitude_mean_log_mean)

KeyError: 'altitude_mean_meters'

In [25]:
y_test_pred = reg.predict(X_test)
mse_test = mean_squared_error(y_test, y_test_pred)
print(mse_test)

2.08680004794465e-27

In [26]:
params = {
      "altitude_low_meters_mean": altitude_low_meters_mean,
      "altitude_high_meters_mean": altitude_high_meters_mean,
      "altitude_mean_log_mean": altitude_mean_log_mean,
      "fit_intercept": True,
  }

In [27]:
mlflow.log_params(params)
mlflow.set_tag("running_from_jupyter", "made myself crazy")
mlflow.log_metric("train -" + "MSE", mse_train)
mlflow.log_metric("test -" + "MSE", mse_test)
# mlflow.log_artifact("../models")
# mlflow.sklearn.log_model(reg, "model")
mlflow.end_run()

In [28]:
mlflow.get_run(run_id=run.info.run_id)

<Run: data=<RunData: metrics={'test -MSE': 2.08680004794465e-27, 'train -MSE': 6.701014816713759e-28}, params={'altitude_high_meters_mean': '1505.6315789473683',
 'altitude_low_meters_mean': '1500.3684210526317',
 'altitude_mean_log_mean': '7.0571530664031155',
 'fit_intercept': 'True'}, tags={'mlflow.source.name': 'ipykernel_launcher',
 'mlflow.source.type': 'LOCAL',
 'mlflow.user': 'petermcisaac',
 'running_from_jupyter': 'True'}>, info=<RunInfo: artifact_uri='s3://neuefische-mlflow/mlflow-artifacts/25/db36ca6e38d84e31ac34a75bfa9b9838/artifacts', end_time=1626427388226, experiment_id='25', lifecycle_stage='active', run_id='db36ca6e38d84e31ac34a75bfa9b9838', run_uuid='db36ca6e38d84e31ac34a75bfa9b9838', start_time=1626427268688, status='FINISHED', user_id='petermcisaac'>>

## Checking the experiments

while the next cell is running you will not be able to run other cells in the notebook

In [ ]:
!mlflow ui